/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[AtomicNumber]
      ,[AtomicWeight]
      ,[Name]
      ,[Symbol]
      ,[MeltingPoint]
      ,[BoilingPoint]
      ,[Density]
      ,[EarthCrustPerCentage]
      ,[Discovered]
      ,[Group]
      ,[ElectronConfiguration]
      ,[IonizationEnergy]
  FROM [Cougar_1].[dbo].[Elements]